<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="dubbo-consumer-demo"/>
    <!-- 测试zk -->
    <dubbo:registry address="zookeeper://zk1.test.yiyaowang.com:2181?backup=zk2.test.yiyaowang.com:2181,zk3.test.yiyaowang.com:2181" protocol="zookeeper" />

<!--    <dubbo:reference id="doDubboService" interface="com.yyw.wms.dubbo.service.DoDubboService" timeout="1000000"/>-->



    <!--    wms-service client -->
    <dubbo:reference id="sortingRestService" interface="com.yyw.wms.client.dubbo.delivery.sort.SortingService" timeout="10000"/>
    <dubbo:reference id="rfSortingRestService" interface="com.yyw.wms.client.dubbo.restApi.RfSortingRestService" timeout="10000"/>

</beans>